body { 
    background-color: rgb(245, 69, 69);
    font-family: 'Courier New', Courier, monospace;
}

.GameBoard {
    background-color: rgb(255, 225, 0);
    position: relative;
    margin: 0 auto;
    top: 1px;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 500px;
    border-radius: 20px;
    border-style: groove;
    border-width: 1px;
    border-color: rgb(255, 3, 3);
}
p {
    position: relative;
    justify-content: center;
    text-align: center;
    font-size: 25px
}

.animate-charcter {
    text-transform: uppercase;
     background-image: linear-gradient(
       -225deg,
       #231557 0%,
       #44107a 29%,
       #ff1361 67%,
       #fff800 100%
     );
     background-size: auto auto;
     background-clip: border-box;
     background-size: 200% auto;
     color: #fff;
     background-clip: text;
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     animation: textclip 2s linear infinite;
     display: inline-block;
     font-size: 23px;
   }
   @keyframes textclip {
     to {
       background-position: 200% center;
     }
   }
   .project-title {
       text-align: center;
   }