.Player1 {
    color:blueviolet;
    border-color: black;
    border-style: groove;
    border-radius: 20px;
    border-width: 1px;
    top: 60px;
    position: relative;
    text-align: center;
    width: 220px;
    left: 70px;
    background-color: black;
}
.Player2 {
    color:blueviolet;
    border-color: black;
    border-style: groove;
    border-radius: 20px;
    border-width: 1px;
    top: 150px;
    position: relative;
    text-align: center;
    width: 220px;
    left: 70px;
    margin-top: 5px;
    background-color: black;

}
.players-title {
    border-radius: 20px;
    border-style: groove;
    background-color: goldenrod;
    top: -25px;
    position: relative;
    border-width: 0ch;
}


.current_score{
   position: relative;
   top: 10px;
   color: red;
   border-style: groove;
   border-radius: 15px;
   width: 120px;
   left: 45px;
   background-color: white;
}


.score {
    position: relative;
    top: -20px;
    color: white;
    font-size: 40px;
}
