button {
    background-color: red;
    border-color: black;
    border-radius:10px;
    border-width: 2px;
    position: relative;
    top: -190px;
    left: 650px;
    display: flex;
    margin-top: 40px;
    width:100px;
    height: 40px;
    justify-content: center;
    font-size: 15px;
    line-height: 40px;

}

input {
    background-color: blue;
    color: black;
    border-radius: 20px;
    width: 140px;
    position: relative;
    top: -100px;
    left: 60px;
    display: flex;
    left: 620px;
    text-align: center;

}