.dice1{
    background-color: rgb(255, 255, 255);
    width: 90px;
    height: 90px;
    border-style: groove;
    border-color: rgb(255, 0, 0);
}
.dice2{
    background-color: rgb(255, 255, 255);
    width: 90px;
    height: 90px;
    border-style: groove;
    border-color: rgb(255, 0, 0);
    margin-top: 10px;
 
}
.two_dice {
    position: absolute;
    left: 410px;
    top:200px;
}

.dots {
    position: relative;
    display: flex;
    color: rgb(255, 0, 170);
    font-size: 20px;
    font-weight:bold;
 
}
.dot_1 {
  position: relative;
  left: 14px;
  top: 4px;
}
.dot_2 {
    position: relative;
    top: 27px;
    left: 2px;
}
.dot_3 {
    position: relative;
    left: -9px;
    top: 52px;
}
.dot_4 {
     position: relative;
     left: 14px;
     top: 4px;
}
.dot_5 {
    position: relative;
    top: 27px;

    left: 2px;
}
.dot_6 {
    position: relative;
    left: -9px;
    top: 52px;
}
